<div class="p-grid">
    <div class="p-col-12">
        <div class="title-area">
            <h5>
                <b>Add Role</b>
            </h5>
            <!-- <button pButton pRipple label="Back" icon="pi pi-arrow-left" class="p-button-primary" 
                (click)="backLink()"></button> -->
        </div>
        <div class="card">
            <p-toast key="toastmsg"></p-toast>
            <form [formGroup]="roleForm" *ngIf="this.roleForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="rolename">Name <span class="mandatory-fields">*</span></label>
                        <input formControlName="rolename" type="text" pInputText class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.rolename.errors }">
                        <div *ngIf="submitted && f.rolename.errors" class="invalid-feedback">
                            <div *ngIf="f.rolename.errors.required">Role Name is required</div>
                            <div *ngIf="f.rolename.errors">Only Alphabets allowed</div>
                        </div>
                    </div>
                    <div class="p-field p-col-4">
                        <label for="description">Description</label>
                        <textarea inputId="textarea" rows="3" cols="30" formControlName ="description" pInputTextarea></textarea>
                    </div>  
                                   
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="status">Status</label>
                        <p-dropdown inputId="status" [options]="statuses" formControlName="status" placeholder="Select" optionLabel="label" (ngModelChange)="onStatusSelect($event)"></p-dropdown>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Please, Select Status</div>
                        </div>
                    </div>  
                </div>
                <div class="p-col-12 p-lg-12">
                    <div class="card">
                        <h5>Module List</h5>
                        <span class="text-left">
                            <p-checkbox binary="true" (onChange)="selectAll($event);" formControlName="selectAll" value="selectAll" ></p-checkbox>
                        </span>
                        <div *ngIf="permissionerrors" style="color:red;">
                            <div>Please, Select Atleast 1 module</div>
                        </div>
                    </div>
                    
                    <p-panel *ngFor="let module of  moduleList ;let i = index;" [toggleable]="true" [collapsed]="false" toggler="header">
                        
                        <p-content>
                            <div class="text-center">
                                <p-checkbox binary="true"  (onChange)="setModuleCheckbox($event, module.module, module);" formControlName="{{module.module}}" value="{{module.module}}" ></p-checkbox>
                                <span class="modulename">{{module.module | titlecase }}</span>
                                <span class="right" >
                                    <p-radioButton value="edit" (onClick)="setModuleRadiobutton($event, module.module, 'edit');" label="Edit" formControlName="{{module.module}}_radio"></p-radioButton>
                                    <p-radioButton value="view" (onClick)="setModuleRadiobutton($event, module.module, 'view');" label="View" formControlName="{{module.module}}_radio"></p-radioButton>
                                </span>
                            </div>
                        </p-content>
                        <p-content *ngFor="let submodule of module.submodule; let sub = index">
                            <div class="submodule" >
                                <p-checkbox binary="true" (onChange)="setSubModuleCheckbox($event, submodule, module.module);" formControlName="{{submodule.module}}" value="{{submodule.module}}" ></p-checkbox>
                                <span >{{submodule.module | titlecase }}</span>
                                <span >
                                    <p-radioButton value="edit" (onClick)="setSubModuleRadiobutton($event, submodule.module, module.module, 'edit');" label="Edit" id="edit" formControlName="{{submodule.module}}_radio"></p-radioButton>
                                    <p-radioButton value="view" (onClick)="setSubModuleRadiobutton($event, submodule.module, module.module, 'view');" label="View" id="view" formControlName="{{submodule.module}}_radio"></p-radioButton>
                                </span>
                            </div>
                        </p-content>
                    </p-panel>
                </div>
                <div class="text-center">
                    <button pButton pRipple label="Save" icon="pi pi-check"></button>
                    <!-- <button pButton pRipple label="Save" icon="pi pi-check" [disabled]="userForm.invalid"></button> -->
                    <button pButton pRipple label="Reset" icon="pi pi-times" type="reset" (click)="onReset()"></button>
                    <button pButton pRipple type="button" label="Back" class="p-button-info" (click)="backLink()"></button>
                </div>
            </form>
        </div>
        <div class="button-set back">
            <div class="p-fluid p-formgrid">
            <p-toast></p-toast>
            </div>
        </div>
    </div>
</div>